@{
    ViewBag.Title = "Client List";
}
@model AR2AP.WebApp.Models.Foundation.SimpleListVModel<AR2AP.BLL.ClientEntity>
@section submenu
{
    @Html.Partial("_SubMenuFoundation")
}
<div class="buttonset" style="margin:5px 0px; font-size:10px; font-weight:normal"><a href="/Foundation/ClientMerge">Add New</a></div>
<table>
    <tr>
        <th>ClientID</th>
        <th>ClientName</th>
        <th>ClientGroup</th>
        <th>ClientType</th>
    </tr>

    @foreach (var item in Model.Entities)
    { 
        <tr>
            <td>@item.ClientID</td>
            <td><a href="/Foundation/TermMerge/@item.ClientID">@item.ClientName</a></td>
            <td>@item.ClientGroup</td>
            <td>@item.ClientType</td>
        </tr>
    }
</table>