@{
    ViewBag.Title = "Client Modify";
}
@model AR2AP.WebApp.Models.Foundation.SimpleMergeVModel<AR2AP.BLL.ClientEntity>
@section submenu
{
    @Html.Partial("_SubMenuFoundation")
}
@using (Html.BeginForm()) {
    <div style="font-size:1.5em; font-weight:bold; padding:0px; margin:0 0 0 10px;">@ViewBag.Title</div>
    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.HiddenFor(m => m.Entity.ClientID)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.ClientName)
                @Html.TextBoxFor(m => m.Entity.ClientName)
                @Html.ValidationMessageFor(m => m.Entity.ClientName)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.ClientGroup)
                @Html.TextBoxFor(m => m.Entity.ClientGroup)
                @Html.ValidationMessageFor(m => m.Entity.ClientGroup)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.ClientType)
                @Html.TextBoxFor(m => m.Entity.ClientType)
                @Html.ValidationMessageFor(m => m.Entity.ClientType)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}