@{
    ViewBag.Title = "Employee List";
}
@model AR2AP.WebApp.Models.Foundation.SimpleListVModel<AR2AP.BLL.EmpEntity>
@section submenu
{
    @Html.Partial("_SubMenuFoundation")
}
<div class="buttonset" style="margin:5px 0px; font-size:10px; font-weight:normal"><a href="/Foundation/EmpMerge">Add New</a></div>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
    </tr>

    @foreach (var item in Model.Entities)
    { 
        <tr>
            <td>@item.EmpID</td>
            <td><a href="/Foundation/EmpModify/@item.EmpID">@item.EmpName</a></td>
            <td>@item.EmpEmail</td>
            <td>@item.Username</td>
            <td>@item.Password</td>
        </tr>
    }
</table>
