@{
    ViewBag.Title = "Team Modify";
}
@model AR2AP.WebApp.Models.Foundation.SimpleMergeVModel<AR2AP.BLL.TeamEntity>
@section submenu
{
    @Html.Partial("_SubMenuFoundation")
}
@using (Html.BeginForm()) {
    <div style="font-size:1.5em; font-weight:bold; padding:0px; margin:0 0 0 10px;">@ViewBag.Title</div>
    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.HiddenFor(m => m.Entity.TeamID)
                @Html.HiddenFor(m => m.Url)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.Depart)
                @Html.TextBoxFor(m => m.Entity.Depart)
                @Html.ValidationMessageFor(m => m.Entity.Depart)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.Market)
                @Html.TextBoxFor(m => m.Entity.Market)
                @Html.ValidationMessageFor(m => m.Entity.Market)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
