<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/sunny/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        #left
        {
            width: 200px;
            float: left;
        }

        #right
        {
            margin-left: 215px;
        }
    </style>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink(DateTime.Today.ToString("MMMM dd", new System.Globalization.CultureInfo("en-us")), "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("AR", "List", "AR")</li>
                        <li>@Html.ActionLink("AP", "List", "AP")</li>
                        <li>@Html.ActionLink("Tools", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Foundation", "EmpList", "Foundation")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <section id="left">
                @RenderSection("submenu", required: false)
            </section>
            <section id="right">
                @RenderBody()
            </section>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p></p>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#leftmenu").menu();
            $(".buttonset").buttonset();
            $(".datepicker").datepicker({ "dateFormat": "yy-mm-dd" });
            $("input[type=submit],input[type=reset],button").button();
        });
</script>
</body>
</html>
