@{
    ViewBag.Title = "AR List";
}
@model AR2AP.WebApp.Models.AR.ListVModel
@section submenu
{
    @Html.Partial("_SubMenuAR")
}
<div class="buttonset" style="margin: 5px 0px; font-size: 10px; font-weight: normal"><a href="/AR/Add">Add New AR</a></div>
<table>
    <tr>
        <th>Campaingn</th>
        <th>Duration</th>
        <th>Contract No</th>
        <th>Due Date</th>
        <th>Invoice</th>
        <th></th>
        <th></th>
        <th>Option</th>
    </tr>
    @foreach (var item in Model.AREntities)
    {
        <tr>
            <td><a href="/AR/Modify/@item.ARID">@item.Campaingn<br />@item.ContractNo</a></td>
            <td>@item.CompaignStart.ToString("yyyy-MM-dd")<br />@item.CompaignEnd.ToString("yyyy-MM-dd")</td>
            <td></td>
            <td>@item.DueDate.ToString("yyyy-MM-dd")</td>
            <td>@item.InvoiceAmount<br />@item.InvoiceDate<br />@item.InvoiceTypeEnum/@item.InvoiceNo</td>
            <td>@item.ProjectNo</td>
            <td>@item.CompaignAmount</td>
            <td><a class="writeOffOpener" href="/AR/WriteOff?arId=@item.ARID" dialogWidth="550" dialogHeight="430" dialogTitle="ABC">WriteOff</a></td>
        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("a.writeOffOpener").click(ShowCommonDialog);
        });
    </script>
}